@media screen and (min-width: $min_screen_width) {
    #main-outlet .wrap {
        max-width: 90% !important;
    }
    
    .topic-post:not(.d-toc-post) .topic-body {
        width: 90%;
    }

    .topic-status-info, .onscreen-post {
        max-width: 90%;
    }

    @if $increase_editor_width == 'true' {   
        #reply-control {
            max-width: 90%;
        }

        .composer-popup-container {
            max-width: 90%;
        }

        .composer-popup {
            max-width: 90%;
        }
    }
}
